<%= form_for @scorecard, html: { nmultipart: true } do |f| %>
<% if @scorecard.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@scorecard.errors.count, "error") %> stopped this scorecard from being saved:</h3>
    <ul>
    <% @scorecard.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :gametype, "What game are you playing" %>
      <%= f.text_field :gametype, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :number_of_players, "How many players or teams in this game?" %> <i>(Digits only eg: 4)</i>
      <%= f.text_field :number_of_players, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :description, "Describe this Scorecard" %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :location, "Where are you playing? (Optional)" %>
      <%= f.text_field :location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= button_to "Go Back", :back, class: "btn btn-warning" %>
    </div>
  </div>
<% end %>
