<% if user_signed_in? %>
  <%= link_to 'New Scorecard', new_scorecard_path %>
<% end %>

<div id="scorecards" class="transitions-enabled">
  <% @scorecards.each do |scorecard| %>
  <div class="box panel panel-default">
    <%#= link_to image_tag(scorecard.image.url(:medium)), scorecard %>
    <div class="panel-body">
      <p><%= scorecard.description %></p>
      <p><strong><%= scorecard.user.name %></strong></p>
      <% if scorecard.user == current_user %>
        <div class="actions">
          <%= link_to edit_scorecard_path(scorecard) do %>
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %><br>
          <%= link_to scorecard, method: :delete, data: { confirm: "Are you sure? You can't get it back!" } do %>
            <span class="glyphicon glyphicon-trash"></span> Delete
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
