<% if user_signed_in? %>
  <%= link_to 'New Scorecard', new_scorecard_path %>
<% end %>

<div id="scorecards" class="transitions-enabled">
  <% @scorecards.each do |scorecard| %>
  <div class="box panel panel-default">
    <%= image_tag scorecard.image.url(:medium) %>
    <div class="panel-body">
      <%= scorecard.description %>
      <%= scorecard.user.email %>
      <%= link_to 'Show', scorecard %>
      <% if scorecard.user == current_user %>
        <%= link_to 'Edit', edit_scorecard_path(scorecard) %>
        <%= link_to 'Delete', scorecard, method: :delete, data: { confirm: "Are you sure? You can't get it back!" } %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
