<%= render 'pages/home' unless user_signed_in? %>

<% if user_signed_in? %>
  <div class="panel panel-heading">
      <%= link_to 'New Scorecard', new_scorecard_path, class: "btn btn-primary" %> 
      <%= link_to 'My Scorecards', new_scorecard_path, class: "btn btn-default" %> 
      <%= link_to 'Leave Feedback', contacts_path, class: "btn btn-warning" %>
  </div>
  <div id="scorecards">
    <table class="table table-hover">
      <h3>Recent Scorecards:</h3>
        <thead>
          <tr>  
            <th>Game played</th>
            <th>Description</th>
            <th>Posted by</th>
            <th>Actions</th>
          </tr>
        </thead>
      <% @scorecards.each do |scorecard| %>
        <%#= link_to image_tag(scorecard.image.url(:medium)), scorecard %>
        <tr>
          <td><%= scorecard.gametype %></td>
          <td><%= scorecard.description %></td>
          <td><%= scorecard.user.name %></td>
          <td>
            <%= link_to scorecard_path(scorecard) do %>
              <span class="glyphicon glyphicon-eye-open"></span> View Scorecard
            <% end %>
            <br>
            <% if scorecard.user == current_user %>
              <div class="actions">
                <%= link_to edit_scorecard_path(scorecard) do %>
                  <span class="glyphicon glyphicon-edit"></span> Edit
                <% end %><br>
                <%= link_to scorecard, method: :delete, data: { confirm: "Are you sure? You can't get it back!" } do %>
                  <span class="glyphicon glyphicon-trash"></span> Delete
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
<% end %>
</div>
