<div class="panel panel-default">
  <div class="panel-heading"><h3>Feedback</h3></div>
  <div class="panel-body">
    <%= simple_form_for @contact do |f| %>
      <div class="form-group">
        <%= f.label "Name" %>
        <%= f.text_field :name, required: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Email (enter only if you require a response)" %>
        <%= f.email_field :email, required: false, class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.label "What's your feedback?" %>
      <%= f.text_area :message, required: true, class: "form-control", size: "1x3" %>
      </div>
      <div class= "hidden">
        <%= f.input :nickname, hint: 'Leave this field blank!' %>
      </div>
      <div>
        </br>
        <%= f.submit 'Send message', class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to "Go Back", :back %><br>
    <%= link_to "Home", :root %>
  </div>
</div>